<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
    <ng-template #guest>
      <p>are not logged on!!!</p>
    </ng-template>
    <ng-template #authenticated>
      <div class="dashboard">
        <div *ngIf="auth.user$ | async as user">
        <div class="top">
          <app-card></app-card>
          <div class="users">
            <!-- <mat-card class="tableinside"> -->
                <div *ngIf="user.role.admin == true" class="userUpdate">
                  <div>
                    <table class="content-table">
                      <thead>
                        <tr>
                          <th>displayname</th>
                          <th>rank</th>
                          <th>uid</th>
                          <th>role</th>
                          <th>verified</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users | async">
                          <td>{{user.displayname}}</td>
                          <td>{{user.rank}}</td>
                          <td>{{user.uid}}</td>
                          <td>{{user.role | json}}</td>
                          <td>{{user.verified}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              <!-- </mat-card> -->
          </div>
          </div>
          <div class="documents">
              <div class="uploads">
                <button class="btn btn-success btn-block fillupload" (click)="openDialog()">Upload PDF</button>
                <button class="btn btn-success btn-block fillupload disabled">Edit a post PDF</button>
                <button class="btn btn-success btn-block fillupload disabled">PDF search</button>
              </div>
              <div class="stats">
                <!-- <mat-card class="tableinsidestats"> -->
                  <div class="statsUpdate">
                    <div>
                      <table class="content-table-stats">
                        <thead>
                          <tr>
                            <th>uploaderNAME</th>
                            <th>EMAIL</th>
                            <th>UID</th>
                            <th>description</th>
                            <th>serviceUploader</th>
                            <th>pdfName</th>
                            <th>LINK</th>
                            <th> Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let document of documents | async">
                            <td>{{user.email}}</td>
                            <td>{{document.uploaderEMAIL}}</td>
                            <td>{{document.uploaderUID}}</td>
                            <td>{{document.description}}</td>
                            <td>{{document.serviceUploader}}</td>
                            <td>{{document.pdfName}}</td>
                            <td><p class="link"><a href="{{document.link}}">LINK</a></p></td>
                            <td><button class="btn btn-success btn-block"(click)=removeData()>Delete</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                <!-- </mat-card> -->
                
              </div>
            </div>
          </div>
        </div>
        </ng-template>
