<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
    <ng-template #guest>
      <p>are not logged on!!!</p>
    </ng-template>
    <ng-template #authenticated>
      <div class="dashboard">
        <div *ngIf="auth.user$ | async as user">
        <div class="top">
          <div class="profile">
              <div>Profile</div>
              <div>Username:</div>
              <div>UID: {{ user.uid }}</div>
              <div>Role: {{ user.role.reader }}</div>
              <div>Email: {{ user.email }}</div>
              <div>{{ user.topRole}}</div>
              <button [routerLink]="['/profile', user.uid]"> Profile</button>
              <span class="tag" [class.is-success]="user.role?.reader">
                {{ user.role?.reader }}
            </span><br>
                Editor:
                <span class="tag" [class.is-success]="user.role?.publisher">
                {{ user.role?.publisher }}
            </span><br>
                Admin:
                <span class="tag" [class.is-success]="user.role?.admin">
                {{ user.role?.admin }}
            </span><br>
          </div>
          <div class="users">
            <mat-card class="tableinside">
                <div *ngIf="user.role.admin == true" class="userUpdate">
                  <div>
                    <table class="content-table">
                      <thead>
                        <tr>
                          <th>displayname</th>
                          <th>rank</th>
                          <th>uid</th>
                          <th>role</th>
                          <th>verified</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users | async">
                          <td>{{user.displayname}}</td>
                          <td>{{user.rank}}</td>
                          <td>{{user.uid}}</td>
                          <td>{{user.role | json}}</td>
                          <td>{{user.verified}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </mat-card>
          </div>
          </div>
          <div class="documents">
              <div class="uploads">Uploads
                <button mat-menu-item (click)="openDialog()">Upload PDF</button>
              </div>
              <div class="stats">STATS</div>
            </div>
          </div>
        </div>
        </ng-template>
