.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.profile{
    background-color: white;
    width: 15vw;
    height: 40vh;
    margin-right: 0%;
    overflow: hidden;
    border-style: solid ;
}
.table {
    width: 100%;
  }
.documents{
    background-color: rosybrown;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.users{
    background-color: white;
    width: 85vw;
    height: 40vh;
    margin-right: 0%;
    max-height: 40vh;
    overflow: hidden;
    display: flex;
    border-style: solid ;
}

.uploads{
    background-color: white;
    width: 30vw;
    height: 60vh;
    border-style: solid ;
}

.stats{
    background-color: white;
    width: 70vw;
    height: 60vh;
    border-style: solid ;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

* {
  font-family: sans-serif; /* Change your font family */
}
.tableinside{
  padding: 0%;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
