<div class="home">
  <div class="card center" style="width: 20rem;">
    <img class="card-img-top" src="../../../assets/logo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Alexandria</h5>
      <p class="card-text">card content goes here</p>
      <div class="centre"><button  mat-raised-button [routerLink]="['/search']" routerLinkActive="router-link-active">Search</button></div>
    </div>
  </div>

  <div class="card center" style="width: 80rem;">
    <div class="card-body">
      <div class="centre"><button  mat-raised-button (click)="getPosts()">Load</button></div>
    <div *ngFor="let post of posts | async">
      {{ post | json }}
    </div>
    </div>
  </div>
</div>
