

.example-container {
  width: 100%;
  height: 100%;
  align-items: center;
}


.example-sidenav {
  padding: 0px;
  width: fit-content;
}

.row{
  align-items: center;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.text{
  align-items: center;
}


