<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
    </button>
    <h1>{{ title }}</h1>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="container">
      <div class="row">
        <button mat-raised-button [routerLink]="['/']" routerLinkActive="router-link-active">Home</button>
      </div>
      <div class="row">
        <button mat-raised-button [routerLink]="['/search']" routerLinkActive="router-link-active">Search</button>
      </div>
      <div class="row">
        <button  mat-raised-button [routerLink]="['/info']" routerLinkActive="router-link-active">Info</button>
      </div>
      <div class="text">
        <p>
          Below are test views
        </p>
      </div>
      <div class="row">
        <button  mat-raised-button [routerLink]="['/docview']" routerLinkActive="router-link-active">Document Viewer</button>
      </div>
      <div class="row">
        <button  mat-raised-button [routerLink]="['/docinfo']" routerLinkActive="router-link-active">Document Information</button>
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
