<div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
    <ng-template #guest>
      <p>are not logged on!!!</p>
    </ng-template>
    <ng-template #authenticated>
      <div class="dashboard">
        <div *ngIf="auth.user$ | async as user">
          <app-card></app-card>
          <div class="documents">
              <div class="uploads">Uploads</div>
              <div class="stats">stats</div>
              
            </div>
          </div>
        </div>
        </ng-template>
