<div class="toolbar">
  <h1>Project Alexandria</h1>
  <!-- Logged out users will see this -->
  <div class="profile" *ngIf="!(afAuth.user | async)">
    <button mat-mini-fab color="primary" class="fab" aria-label="Example icon button with a delete icon" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu class="menu" #menu="matMenu" >
      <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active">Log in</button>
      <button mat-menu-item [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign Up</button>
    </mat-menu>
  </div>
  <!-- End -->

  <!-- Logged in user will see this -->
  <div class="profile" *ngIf="(afAuth.user | async)">    
    <button mat-mini-fab color="primary" class="fab" aria-label="Example icon button with a delete icon" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu">
      <span *ngIf="auth.user$ | async as user">
      <button mat-menu-item [routerLink]="['/profile', user.uid]">Profile</button>
      <button mat-menu-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</button>
      <span *ngIf="user.role.admin == true"><button mat-menu-item [routerLink]="['/dashboard/:uid/admin']" routerLinkActive="router-link-active">Admin Dashboard</button></span>
      <button mat-menu-item (click)="logOut()">Log out</button>
    </span>
    </mat-menu>
    <!-- End -->
  
  </div>
</div>
