<div class="search">
  <h1 class="text ">Documents Search...</h1>
  <form class="form-floating mb-3 searchbar">
    <input type="text" class="form-control searchbartext" id="floatingInput">
   <label for="floatingInput">{{ document }} search</label>
  </form>
</div>
<div class="results">
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="RAF"></div>
      <mat-card-title>JSP 834</mat-card-title>
      <mat-card-subtitle>Safeguarding</mat-card-subtitle>
    </mat-card-header>
    <div class="pdfsmall">
      <img mat-card-image [src]="pdfSrc" alt="JSP834">
    </div>
    <mat-card-content>
      <p>
        JSP 834 is intended as a comprehensive framework for the safeguarding of all People in Defence. It is the intention that this JSP will be reviewed every two years or in response to changes directed by Central Government policy.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/pdfview']" routerLinkActive="router-link-active">VIEW</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
      <table class="content-table">
        <thead>
          <tr>
            <th>uploaderNAME</th>
            <th>EMAIL</th>
            <th>UID</th>
            <th>description</th>
            <th>serviceUploader</th>
            <th>pdfName</th>
            <th>LINK</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of documents | async">
            <td>{{document.uploaderNAME}}</td>
            <td>{{document.uploaderEMAIL}}</td>
            <td>{{document.uploaderUID}}</td>
            <td>{{document.description}}</td>
            <td>{{document.serviceUploader}}</td>
            <td>{{document.pdfName}}</td>
            <td><p class="link"><a href="{{document.link}}">LINK</a></p></td>
          </tr>
        </tbody>
      </table>
</div>
