<div class="search">
  <h1 class="text ">Documents Search...</h1>
  <form class="form-floating mb-3 searchbar">
    <input type="text" class="form-control searchbartext" id="floatingInput">
   <label for="floatingInput">{{ document }} search</label>
  </form>
</div>
<div class="results">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="RAF"></div>
      <mat-card-title>JSP 834</mat-card-title>
      <mat-card-subtitle>Safeguarding</mat-card-subtitle>
    </mat-card-header>
    <div class="pdfsmall">
      <img mat-card-image [src]="pdfSrc" alt="JSP834">
    </div>
    <mat-card-content>
      <p>
        JSP 834 is intended as a comprehensive framework for the safeguarding of all People in Defence. It is the intention that this JSP will be reviewed every two years or in response to changes directed by Central Government policy.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/pdfview']" routerLinkActive="router-link-active">VIEW</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="RAF"></div>
      <mat-card-title>NULL</mat-card-title>
      <mat-card-subtitle>NULL</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/raf.jpg" alt="rn">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disabled [routerLink]="['/pdfview']" routerLinkActive="router-link-active">VIEW</button>
      <button mat-button disabled>LIKE</button>
      <button mat-button disabled>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="RoyalNavy"></div>
      <mat-card-title>NULL</mat-card-title>
      <mat-card-subtitle>NULL</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/royalnavy.png" alt="rn">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disabled [routerLink]="['/pdfview']" routerLinkActive="router-link-active">VIEW</button>
      <button mat-button disabled>LIKE</button>
      <button mat-button disabled>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="ARMY"></div>
      <mat-card-title>NULL</mat-card-title>
      <mat-card-subtitle>NULL</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/army.png" alt="army">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disabled [routerLink]="['/pdfview']" routerLinkActive="router-link-active">VIEW</button>
      <button mat-button disabled>LIKE</button>
      <button mat-button disabled>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
