.searchbar{
  margin-top: auto;
  margin-left: 15vw;
  margin-right: 15vw;
}

.searchbartext{
  border-top-left-radius: 2rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 2rem;
}
.searchContiner{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.searchform{
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.text{
  text-align: center;
}

.search{
  align-content: center;

}

.logo{
  align-items: center;
}

.example-card {
  max-width: 400px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.RAF{
  background-image: url('../../../assets/raf.jpg');
  background-size: cover;
}

.RoyalNavy{
  background-image: url('../../../assets/royalnavy.png');
  background-size: cover;
}

.ARMY{
  background-image: url('../../../assets/army.png');
  background-size: cover;
}


* {
  font-family: sans-serif; /* Change your font family */
}
.tableinside{
  padding: 0%;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #333F48;
  width: 80vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.content-table thead tr {
  background-color: #333F48;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #C9D0D7;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #333F48;
}

.link{
  margin-bottom: 0%;
  font-weight: bold;
}
